<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery Beers</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>
  <header class="mb-5 py-3 bg-white border-bottom box-shadow">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h1>Beers</h1>
        </div>
        <div class="col-sm-4  py-2">
          <select class="custom-select" id="orderSelect">
            <option>Sort</option>
            <option value="AB">Name (asc)</option>
            <option value="BA">Name (desc)</option>
            <option value="ASCabv">ABV (asc)</option>
            <option value="DESCabv">ABV (desc)</option>
          </select>
        </div>
        <div class="col-sm-4  py-2">
          <input type="search" class="form-control" id="nameSearch" placeholder="Search (*from 4 characters)">
        </div>
      </div>
    </div>
  </header>
  <main class="container  mt-3">
    <div class="row">
      <div class="beers card-group col-sm-12">
        <!-- Beers Cards -->
      </div>
    </div>
    <div class="row p-3">
      <div class="col-sm-4 offset-sm-4 text-center load-more-wrapper"></div>
    </div>
  </main>
  <footer>
    <!-- Beer Item Handlebars Template -->
    <script id="beerCard" type="text/x-handlebars-template">
      <article id="{{beer_id}}" class="beer col-sm-4" data-title="{{beer_title}}" data-abv="{{beer_abv}}">
        <!-- Card -->
        <div class="card mb-4">
          <div class="card-header" style="padding-bottom:75%;background-size: contain; background-position: 50% 50%; background-repeat: no-repeat; background-image:url('{{beer_img}}')"></div>
          <div class="card-body">
            <h5 class="card-title">{{beer_title}}</h5>
            <p class="card-text">
              <span class="badge badge-pill badge-danger">{{beer_abv}}% abv</span>
            </p>
            <p class="card-text">{{beer_tagline}}</p>
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal-{{beer_id}}">View Details</button>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal-{{beer_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{beer_title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>{{beer_description}}</p> <b>Tips:</b>
                <p> <i>{{beer_tips}}</i>
                </p>
                <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <th>ABV</th>
                      <td>{{beer_abv}}%</td>
                    </tr>
                    <tr>
                      <th>IBU</th>
                      <td>{{beer_ibu}}%</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </script>
    <!-- Load More button Handlebars Template -->
    <script id="loadMoreTMPLT" type="text/x-handlebars-template">
      <button id="loadMore" type="button" class="btn col-sm-12 btn-outline-info {{more_class}}">Load More {{more_items}} </button>
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
  </footer>
</body>

</html>